// font-size
.text-xs {
    font-size: 0.75rem;
}
.text-sm {
    font-size: 0.875rem;
}
.text-md {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.25rem;
}
.text-xl {
    font-size: 1.5rem;
}

// font-family
.font-additional1 {
    font-family: 'Kaushan Script', cursive;
}

// line-height
.lh-sm {
    line-height: 1.2;
}
.lh-md {
    line-height: 1.5;
}
.lh-lg {
    line-height: 1.8;
}
.lh-xl {
    line-height: 2;
}

// ロゴ
.navbar-brand img {
    width: 60px;

    @include media-breakpoint-up(md) {
        width: 100px;
    }
}

// ファーストビュー
#wrapper-hero .wp-block-cover {
    min-height: 280px !important;

    @include media-breakpoint-up(sm) {
        min-height: 400px !important;
    }
    @include media-breakpoint-up(md) {
        min-height: 500px !important;
    }
    @include media-breakpoint-up(lg) {
        min-height: 650px !important;
    }
}

// オープニングアニメーション
// .shutter {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #1e1e1e;
//     z-index: 9999;
//     animation: byeShutter 2.5s forwards;

//     &::before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         margin: auto;
//         background-color: #f3f3f3;
//         width: 0;
//         height: 1px;
//         animation: shutterOpen 2.5s forwards;
//     }
// }

// @keyframes byeShutter {
//     70% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//         display: none;
//         z-index: -1;
//     }
// }

// @keyframes shutterOpen {
//     0% {
//         width: 0;
//         height: 1px;
//     }
//     50% {
//         width: 100%;
//         height: 1px;
//     }
//     90% {
//         width: 100%;
//         height: 100%;
//     }
//     100% {
//         width: 100%;
//         height: 100%;
//     }
// }

// slashed
.slashed-wrapper {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    position: relative;
    height: 60px;

    @include media-breakpoint-up(sm) {
        height: 80px;
    }
}
.slashed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);

    .top,
    .bot {
        text-align: center;
        font: 40px/66px arial;
        text-transform: uppercase;
        text-align: center;
        overflow: hidden;

        @include media-breakpoint-up(sm) {
            font: 62px/100px arial;
        }
    }
    .top:before,
    .bot:before {
        content: attr(title);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    .top {
        position: absolute;
        top: 0;
        left: 4px;
        right: 0;
        bottom: 50%;
    }
    .top:before {
        position: absolute;
        bottom: -32px;
        left: 0;
        right: 0;

        @include media-breakpoint-up(sm) {
            bottom: -50px;
        }
    }
    .bot {
        position: absolute;
        top: 50%;
        left: 0;
        right: 4px;
        bottom: 0;
    }
    .bot:before {
        position: absolute;
        top: -32px;
        left: 0;
        right: 0;

        @include media-breakpoint-up(sm) {
            top: -50px;
        }
    }
}

.founder-list:before,
.founder-list:after {
    content: "";
    display: block;
    width: 50%;
    height: 0;

    @include media-breakpoint-up(md) {
        width: 33.3%;
    }
    @include media-breakpoint-up(lg) {
        width: 25%;
    }
}
.founder-list:before {
    order: 1;
}

// profile
.flipped-profile{
    margin: 0 auto;
    position: relative;
    max-width: 200px;

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        transition: all 0.5s ease;
    }
    .flipped{
        transform: rotateY( 180deg );
    }
    &:hover .front{
        transform: rotateY( 180deg );
    }
    &:hover .flipped{
        transform: rotateY( 0deg );
    }
}

// トップへ戻るボタン
#pagetop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 90%;
    line-height: 1.5rem;
    color: #737373;
    padding: 0 0 0 35px;
    border-top: solid 1px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: 0px;
        width: 15px;
        border-top: solid 1px;
        transform: rotate(35deg);
        transform-origin: left top;
    }
}