// additional font
@font-face {
    font-family: 'product-sans';
    src: url(../fonts/product-sans-regular.ttf);
}
@font-face {
    font-family: 'product-sans';
    src: url(../fonts/product-sans-bold.ttf);
    font-weight: bold;
}
@font-face {
	font-family: 'zallord';
	src: url(../fonts/zallord.ttf);
}


// font-family
.font-additional1 {
    font-family: 'Kaushan Script', cursive;
}
.font-additional2 {
    font-family: zallord;
    font-size: 120%;
    font-weight: 400;
    letter-spacing: 3px;
}

// font-size
.text-xs {
    font-size: 0.75rem;
}
.text-sm {
    font-size: 0.875rem;
}
.text-md {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.25rem;
}
.text-xl {
    font-size: 1.5rem;
}

.text-md-lg {
    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    }
}
.text-md-left {
    @include media-breakpoint-up(md) {
        text-align: left !important;
    }
}

// line-height
.lh-sm {
    line-height: 1.2;
}
.lh-md {
    line-height: 1.5;
}
.lh-lg {
    line-height: 1.8;
}
.lh-xl {
    line-height: 2.2;
}

// stack
.stack2 {
    z-index: 2;
}

// position
.position-relative {
    position: relative;
}

// text-decoration
.text-underline {
    text-decoration: underline;
}

body {
    letter-spacing: 1px;
}

// ロゴ
.navbar-brand img {
    width: 48px;

    @include media-breakpoint-up(md) {
        width: 71px;
    }
}

// navbar
.navbar-nav {
    .nav-link {
        font-weight: bold;

        @include hover-focus() {
            text-decoration: underline;
        }
    }
}

.kv {
    background-image: url(../images/kv-bg-sp.jpg);
    background-size: cover;

    @include media-breakpoint-up(md) {
        background-image: url(../images/kv-bg-pc.jpg);
    }
}

// ファーストビュー
#wrapper-hero .wp-block-cover {
    min-height: 280px !important;

    @include media-breakpoint-up(sm) {
        min-height: 400px !important;
    }
    @include media-breakpoint-up(md) {
        min-height: 500px !important;
    }
    @include media-breakpoint-up(lg) {
        min-height: 650px !important;
    }
}

#wrapper-hero {
    background: $primary;
}
.wp-block-cover {

    img.wp-block-cover__image-background {
        max-width: 1200px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}
// .wp-block-cover__inner-container {
//     position: absolute;
//     top: -60px;
//     left: 0;
//     right: 0;
// }

// オープニングアニメーション
// .shutter {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #1e1e1e;
//     z-index: 9999;
//     animation: byeShutter 2.5s forwards;

//     &::before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         margin: auto;
//         background-color: #f3f3f3;
//         width: 0;
//         height: 1px;
//         animation: shutterOpen 2.5s forwards;
//     }
// }

// @keyframes byeShutter {
//     70% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 0;
//         display: none;
//         z-index: -1;
//     }
// }

// @keyframes shutterOpen {
//     0% {
//         width: 0;
//         height: 1px;
//     }
//     50% {
//         width: 100%;
//         height: 1px;
//     }
//     90% {
//         width: 100%;
//         height: 100%;
//     }
//     100% {
//         width: 100%;
//         height: 100%;
//     }
// }


.member-list:before,
.member-list:after {
    content: "";
    display: block;
    width: 50%;
    height: 0;

    @include media-breakpoint-up(md) {
        width: 33.3%;
    }
    @include media-breakpoint-up(lg) {
        width: 25%;
    }
}
.member-list:before {
    order: 1;
}

// profile
.flipped-profile{
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        padding-top: 75%;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        transition: all 0.5s ease;
    }
    .flipped{
        transform: rotateY( 180deg );
    }
    &:hover .front{
        transform: rotateY( 180deg );
    }
    &:hover .flipped{
        transform: rotateY( 0deg );
    }
}

// トップへ戻るボタン
#pagetop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 90%;
    line-height: 1.5rem;
    color: #fff;
    padding: 0 0 0 35px;
    border-top: solid 1px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: 0px;
        width: 15px;
        border-top: solid 1px;
        transform: rotate(35deg);
        transform-origin: left top;
    }
}

.icon-star {
    position: relative;

    &:before {
        @include media-breakpoint-up(md) {
            content: "";
            background-image: url(../images/icon-star-purple.png);
            background-size: contain;
            position: absolute;
            top: -20px;
            left: -44px;
            width: 44px;
            height: 54px;
        }
    }
}

// お問い合わせフォーム
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 select,
.wpcf7 textarea {
    height: auto;
    padding: 0.75rem 1rem;
    background-color: $dark;
    border: solid 2px #fff;
    border-radius: 3px;
    color: #fff;

    &::placeholder {
        color: #fff !important;
    }
    &:focus::placeholder {
        color: $secondary !important;
    }
}
.wpcf7 label {
    margin-bottom: 3rem;
}
.wpcf7 input[type="submit"] {
    border: solid 2px #fff;
    border-radius: 3px;
    box-sizing: border-box;
    color: $white;
    background-color: $dark;

    &:hover {
        background-color: $primary;
        border-color: $primary;
    }
}

.wpcf7-response-output {
    color: #fff;
}

section {
    user-select: none;
}
